<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>booking.restapi_restassured_framework.testcases.DeleteBooking</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteBookingWithNewBookingID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteBookingWithInvalidBookingID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteBookingWithExistingBookingID</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>booking.restapi_restassured_framework.testcases.UpdateBooking</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>updateBookingWithExistingBookingID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateBookingForInvalidBookingID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateBookingWithNewBookingID</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>booking.restapi_restassured_framework.testcases.PartialUpdateBooking</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>partialUpdateOfBookingwithBadRequest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>partialUpdateBookingWithNewBookingID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>partialUpdateBookingWithExistingBookingID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>partialUpdateBookingforInvalidBookingID</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
