<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:42:31</td>   <td>0</td> <td title="&gt;&gt;BaseClass.setup()[pri:0, instance:booking.restapi_restassured_framework.testcases.PartialUpdateBooking@ef9296d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:42:32</td>   <td>1448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:booking.restapi_restassured_framework.testcases.PartialUpdateBooking@ef9296d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/08/25 01:42:32</td>   <td>1533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PartialUpdateBooking.partialUpdateBookingWithExistingBookingID()[pri:0, instance:booking.restapi_restassured_framework.testcases.PartialUpdateBooking@ef9296d]">partialUpdateBookingWithExistingBookingID</td> 
  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:42:39</td>   <td>8604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:booking.restapi_restassured_framework.testcases.PartialUpdateBooking@ef9296d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/08/25 01:42:39</td>   <td>8604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PartialUpdateBooking.partialUpdateBookingWithNewBookingID()[pri:0, instance:booking.restapi_restassured_framework.testcases.PartialUpdateBooking@ef9296d]">partialUpdateBookingWithNewBookingID</td> 
  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:42:44</td>   <td>13485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:booking.restapi_restassured_framework.testcases.PartialUpdateBooking@ef9296d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/08/25 01:42:44</td>   <td>13486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PartialUpdateBooking.partialUpdateBookingforInvalidBookingID()[pri:0, instance:booking.restapi_restassured_framework.testcases.PartialUpdateBooking@ef9296d]">partialUpdateBookingforInvalidBookingID</td> 
  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:42:47</td>   <td>16656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:booking.restapi_restassured_framework.testcases.PartialUpdateBooking@ef9296d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/08/25 01:42:47</td>   <td>16656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PartialUpdateBooking.partialUpdateOfBookingwithBadRequest()[pri:0, instance:booking.restapi_restassured_framework.testcases.PartialUpdateBooking@ef9296d]">partialUpdateOfBookingwithBadRequest</td> 
  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:42:52</td>   <td>21362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:booking.restapi_restassured_framework.testcases.DeleteBooking@7880cdf3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>21/08/25 01:42:52</td>   <td>21362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteBooking.deleteBookingWithExistingBookingID()[pri:0, instance:booking.restapi_restassured_framework.testcases.DeleteBooking@7880cdf3]">deleteBookingWithExistingBookingID</td> 
  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:42:57</td>   <td>26071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:booking.restapi_restassured_framework.testcases.DeleteBooking@7880cdf3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>21/08/25 01:42:57</td>   <td>26072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteBooking.deleteBookingWithNewBookingID()[pri:0, instance:booking.restapi_restassured_framework.testcases.DeleteBooking@7880cdf3]">deleteBookingWithNewBookingID</td> 
  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:43:03</td>   <td>32629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:booking.restapi_restassured_framework.testcases.UpdateBooking@36c88a32]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>21/08/25 01:43:03</td>   <td>32630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateBooking.updateBookingWithNewBookingID()[pri:1, instance:booking.restapi_restassured_framework.testcases.UpdateBooking@36c88a32]">updateBookingWithNewBookingID</td> 
  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:43:08</td>   <td>37336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:booking.restapi_restassured_framework.testcases.UpdateBooking@36c88a32]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>21/08/25 01:43:08</td>   <td>37336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateBooking.updateBookingForInvalidBookingID()[pri:1, instance:booking.restapi_restassured_framework.testcases.UpdateBooking@36c88a32]">updateBookingForInvalidBookingID</td> 
  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:43:11</td>   <td>40612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:booking.restapi_restassured_framework.testcases.UpdateBooking@36c88a32]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>21/08/25 01:43:11</td>   <td>40613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdateBooking.updateBookingWithExistingBookingID()[pri:1, instance:booking.restapi_restassured_framework.testcases.UpdateBooking@36c88a32]">updateBookingWithExistingBookingID</td> 
  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:43:16</td>   <td>45348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:booking.restapi_restassured_framework.testcases.DeleteBooking@7880cdf3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="90c4b1">  <td>21/08/25 01:43:16</td>   <td>45348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteBooking.deleteBookingWithInvalidBookingID()[pri:1, instance:booking.restapi_restassured_framework.testcases.DeleteBooking@7880cdf3]">deleteBookingWithInvalidBookingID</td> 
  <td>main@24119573</td>   <td></td> </tr>
<tr bgcolor="746a6f">  <td>21/08/25 01:43:19</td>   <td>48629</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:booking.restapi_restassured_framework.testcases.PartialUpdateBooking@ef9296d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24119573</td>   <td></td> </tr>
</table>
