<h2>Methods that were not run</h2><table>
<tr><td>booking.restapi_restassured_framework.util.BaseClass.tearDown</td></tr>
<tr><td>booking.restapi_restassured_framework.util.BaseClass.tearDown</td></tr>
<tr><td>booking.restapi_restassured_framework.util.BaseClass.setup</td></tr>
<tr><td>booking.restapi_restassured_framework.util.BaseClass.setup</td></tr>
</table>